{% extends 'base.html' %}

{% block title %}Contect Us{% endblock title %}

{% block contectActive %} active {% endblock contectActive %}

{% block body %}
<div class="container">
    <form method = "post" action="/contect/" >
      {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name = "name" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name = "email">
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Phone Number</label>
          <input type="phone" class="form-control" id="phone" name="phone">
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Discription</label>
          <textarea name="content" class="form-control" id="content" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}