{% extends 'base.html' %}

{% block title %}Search results{% endblock title %}
{% block style %}
<link rel="stylesheet" href="/static/css/blog_home.css" />
<link rel="stylesheet" href="/static/css/responsive_blog_home.css" />
{% endblock style %} 

{% block body %}
<div class="main_left">
<h1>Search results</h1>
{% if allPosts|length < 1 %}
<p>No serach search results</p>
Your search - {{query}} - did not match any documents.
<br>
Suggestions:
<br>
Make sure that all words are spelled correctly.
<ul>
    <li>
        Try different keywords.
    </li>
    <li>
        Try more general keywords.
    </li>
    <li>
        Try fewer keywords.
    </li>
</ul>

{% endif %}
{% for post in allPosts %}
{% comment %} ------------------------------------------ {% endcomment %}
<div class="main_left">
  <div class="main_left_container">
    <img
      class="main_left_container_img" src="/media/{{post.thumbnail}}" alt="img"/>
    <div class="main_left_container_content">
      <h1><a href="/blog/{{post.slug}}">{{post.title}}</a></h1>
      <p>{{post.content |safe | truncatechars:100}}</p>
      <br />
      <b><p id="time_Stamp">{{post.timeStamp}} by {{post.author}}</p></b>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock body %}