<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> {% endcomment %}
    <link rel="stylesheet" href="/static/css/navbar.css">
    {% block style %}{% endblock style %}
  </head>
  <body>
    <header>
      <nav class="navbar">
          <a href="#" class="nav-branding">DEv.</a>
          <ul class="nav-menu">
              <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="/blog" class="nav-link">Blogs</a></li>
              <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              <li class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></li>
              <li class="nav-item"><strong><a href="/login" class="nav-link">Login</a></strong></li>

              <div class="search-box">
                <form method="get" action="/search">
                  <input type="text" name="query" placeholder="Search" id="search-box" name="path">
                  <button type="submit" class="searchbutton">Search
                  </form>
                  </button>
              </div>
          </ul>

          <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>

      </nav>
  </header>
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" role="alert">
        <strong>Message: </strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

      {% block body %}{% endblock body %}
      <script src="/static/js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>